.btn {
  text-decoration: none;
  color: black;
  font-size: var(--fs-sm);
  transition: background-color 0.3s ease;
}

.btn-texto[estilo="primario"],
.btn-icono[estilo="primario"] {
  background-color: #ffb6a3;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3a18d;
  &:hover {
    background-color: #e3a18d;
  }
}

.btn-icono[estilo="primario"] {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.btn-texto[estilo="link"] {
  display: block;
  &:hover {
    text-decoration-line: underline;
  }
}

.icono {
  font-size: 1.5rem;
}

.icono-github {
  font-size: 1.2rem;
}

.btn-icono, .btn-texto[estilo="link"] {
  display: flex;
}

.btn-texto, .btn-icono[estilo="link"] {
  display: none;
}

@media (width > 768px) {
  .btn {
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    column-gap: 0.5rem;
    width: fit-content;
  }

  .btn-texto {
    display: flex;
  }
  .btn-icono {
    display: none;
  }
}
