.boton {
  background-color: #ffb6a3;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3a18d;
  font-size: var(--fs-sm);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #e3a18d;
  }
}

.icono {
  font-size: 1.5rem;
}

.icono-github {
  font-size: 1.2rem
}

.boton-texto {
  display: none;
}

.boton-icono {
  width: 45px;
  height: 45px;
}

@media (width > 768px) {
  .boton {
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    column-gap: 0.5rem;
    width: fit-content;

    &:hover {
      background-color: #e3a18d;
    }
  }

  .boton-texto {
    display: inline-flex;
  }
  .boton-icono {
    display: none;
  }
}
