* {
  box-sizing: border-box;
}

:root {
  /* Fuentes */
  --ff: "Montserrat";

  /* Pesos de fuente */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Estilos de fuente */
  --fst-italic: italic;
  --fst-normal: normal;

  /* Tamaños de fuente */
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

  /* Color principal y acento */
  --color-principal: #2e5a5a; 
  --color-acento: #ffadad; 

  /* Colores semánticos */
  --color-info: #4a90e2; 
  --color-alerta: #ff6f61;
  --color-exito: #50c878; 
  --color-aviso: #ffd700;

  /* Colores neutros derivados del principal */
  --color-neutro-100: hsl(180, 33%, 96%); 
  --color-neutro-200: hsl(180, 20%, 88%); 
  --color-neutro-300: hsl(180, 20%, 78%); 
  --color-neutro-400: hsl(180, 12%, 54%);

  /* Colores neutros derivados del acento */
  --color-acento-100: hsl(0, 100%, 80%); 
  
  /* Texto y fondos */
  --color-texto: hsl(215, 28%, 17%);
  --color-texto-secundario: #666666; 
  --color-fondo: #f5f5f5; 
  --color-fondo-oscuro: #1a1a1a; 

  /* Bordes */
  --border-radius-sm: 4px;
  --border-radius-base: 8px;
  --border-radius-md: 10px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  background-image: radial-gradient(rgba(114, 114, 114, 0.1) 1px, transparent 1px);
  background-size: 15px 15px;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
  font-display: swap;
}

/* Aplicar la fuente a toda la página */
body {
  font-family: var(--ff), Arial, sans-serif;
  font-style: var(--fst-normal);
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.verde {
  color: var(--color-principal);
}

.titulo-seccion {
  font-size: var(--fs-lg);
  color: var(--color-principal);
  margin-bottom: 2rem;
}

p {
  font-size: var(--fs-base);
}

.destacado {
  color: var(--color-principal);
}
.destacado-cursiva {
  font-style: var(--fst-italic);
}
@media (width > 600px) {
  .container {
    margin-top: 6.5rem;
    width: 80%;
  }
}
